html,
body {
  background-color: hsl(212, 45%, 89%);
  margin: -85px auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* This hides horizontal scroll bars */
  font-family: "Outfit", sans-serif;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 700; /* Bold weight */
}

.container {
  margin: 300px auto;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: hsl(0, 0%, 100%);
  width: 290px;
  height: 450px;
}
.text {
  text-align: center;
  margin-top: 275px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 15px;
}
.text b {
  font-weight: 1000px;
  color: black;
  font-size: large;
}
.container img {
  position: absolute;
  border-radius: 8px;
  top: 33%;
  margin: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60%;
}

/* ****************************************************
for mobile screen */

@media (max-width: 600px) {
  html,
  body {
    background-color: hsl(212, 45%, 89%);
    margin: 10px auto;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* This hides horizontal scroll bars */
    font-family: "Outfit", sans-serif;
  }
  h2 {
    font-weight: 400; /* Bold weight */
    font-family: "Outfit", sans-serif;
  }
  .text {
    text-align: center;
    margin-top: 290px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 15px;
  }
  .container {
    margin: 20px auto;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    width: 250px;
    height: 490px;
  }
}
/* ********************************************************/
